.body-bg {
    background-color: #020007;
}

.card-flip-y {
    opacity: 0;
    transform-style: preserve-3d;
    animation: flipInY 0.5s forwards;
}

.card-flip-x {
    opacity: 0;
    transform-style: preserve-3d;
    animation: flipInX 0.5s forwards;
}

@keyframes flipInX {
    from {
        transform: rotateY(0deg);
        opacity: 0;
    }
    to {
        transform: rotateY(-360deg);
        opacity: 1;
    }
}

@keyframes flipInY {
    from {
        transform: rotateX(0deg);
        opacity: 0;
    }
    to {
        transform: rotateX(-360deg);
        opacity: 1;
    }
}